.pgm__login-model-header,.pgm__login-model-body,.pgm__login-model-footer{
    color: var(--color-text) !important;
    background-color: var(--color-bg) !important;
}

.pgm__login-model-form{
    width: 80%;
    margin: auto;
}

.pgm__contact-form-inputText{
    margin-top:1.5rem;
    background-color: transparent;
}
.pgm__contact-form-inputText:focus{
    margin-top:1.5rem;
    background-color: transparent;
}

.pgm__login-model-header{
    padding: 1rem;
    text-align: center;
}

.pgm__login-model-button{
    background-color: var(--color-btn) !important;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.pgm__login_model_button_container{
    float: right;
}