.pgm__church_dashboard_container{
    color: var(--color-text);
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.pgm__church_dashboard_menu{
    flex: 2;
    display: flex;
    flex-direction: column;
}
.pgm__church_dashboard_header{
    margin-top: 3rem;
    padding-left: 3rem;
    font-size: 35px !important;
}

.pgm__church_dashboard_menu_links{
    margin-top: 2rem;
}

.pgm__church_dashboard_content{
    /* margin-top: 2rem; */
    flex: 7;
    background-color: var(--color-footer);
}