/* .pgm__register-model-container{
    width: 700px !important;
} */

.pgm__register-model-header,.pgm__register-model-body,.pgm__register-model-footer{
    color: var(--color-text) !important;
    background-color: var(--color-bg) !important;
}

.pgm__register-model-form{
    width: 95%;
    margin: auto;
}

.pgm__contact-form-inputText{
    margin-top:1.5rem;
    font-size: smaller;
    background-color: transparent;
}
.pgm__contact-form-inputText:focus{
    margin-top:1.5rem;
    background-color: transparent;
}

.pgm__register-model-header{
    padding: 1rem;
    text-align: center;
}

.pgm__register-model-button{
    background-color: var(--color-btn) !important;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.pgm__register_model_button_container{
    float: right;
}