.pgm__show_card_container{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-bg);
    padding: 0.7rem 1rem 0.7rem 2rem;
    margin: 1rem 2rem 1rem 0;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: -9px 9px 22px -7px rgba(8,10,56,1);
    -moz-box-shadow: -9px 9px 22px -7px rgba(8,10,56,1);
    box-shadow: -9px 9px 22px -7px rgba(8,10,56,1);
}

.pgm__show_card_body{
    font-size: 15px;
}
/* .pgm__show_card_icon_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
.pgm__show_card_icon{
    cursor: pointer;
}

.pgm__request_show_card{
    margin-bottom: 1rem;
    background-color: var(--color-bg) !important;
    border-radius: 10px !important;
    -webkit-box-shadow: -9px 9px 22px -7px rgba(8,10,56,1);
    -moz-box-shadow: -9px 9px 22px -7px rgba(8,10,56,1);
    box-shadow: -9px 9px 22px -7px rgba(8,10,56,1);
}

.pgm__show_request_bar_container{
    width: 100%;
}
.pgm__show_card_icon_show{
    margin-right: 1rem;
}

.pgm__request_show_card_content{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    /* padding: 0 1rem 0 1rem;
    margin: 0.5rem 0 0.5rem 0; */
}

.card-body{
    padding-top: 0.6rem !important;
    padding-bottom: 0 !important;
}

.pgm__request_show_card_content p{
    margin-left: 1rem;
    margin-top: 0.2rem;
}

.pgm__show_request_button{
    display: flex;
    flex-direction: row;
}

.pgm__show_request_button Button{
    margin-right: 1rem ;
    padding-top: 0.2rem !important;
    height: 2rem !important;
}

/* Show Model design */

.pgm__show_model .pgm__show-model-header,.pgm__show-model-body,.pgm__show-model-footer{
    color: var(--color-text) !important;
    background-color: var(--color-blog) !important;
}

.pgm__show-model-button{
    /* float: right !important; */
    width: 4rem !important;
    background-color: var(--color-btn) !important;
    margin-top: 1.5rem;
    margin-right: 1rem;
}

.pgm__show-model-button_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.pgm__show-model-header{    
    padding: 1rem;
    text-align: center;
}

.pgm__show-model-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ShowQuestion component style */

.pgm__question_show_card_container{
    /* cursor: pointer; */
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    padding: 0.7rem 1rem 0.7rem 2rem;
    margin: 1rem 2rem 1rem 0;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: -9px 9px 22px -7px rgba(8,10,56,1);
    -moz-box-shadow: -9px 9px 22px -7px rgba(8,10,56,1);
    box-shadow: -9px 9px 22px -7px rgba(8,10,56,1);
}

.pgm__question_show_card_header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.pgm__question_show_card_body{
    margin-bottom: 1rem;
}

/* Show answer component */

.pgm__show_answer_button{
    background-color: transparent !important;
    border: 1px solid var(--color-text) !important;
}

.pgm__show_answer_card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-bg);
    padding: 0.7rem 1rem 0.7rem 2rem;
    margin: 1rem 2rem 1rem 0;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: -9px 9px 22px -7px rgba(8,10,56,1);
    -moz-box-shadow: -9px 9px 22px -7px rgba(8,10,56,1);
    box-shadow: -9px 9px 22px -7px rgba(8,10,56,1);
}

.pgm__show_answer_container{
    display: flex;
    flex-direction: row;
}

.pgm__show_answer_button{
    margin-top: 2rem;
    height: 2.5rem;
}

.pgm__show_answer_button a{
    text-decoration: none;
}